.navbar-left img {
	height: 100%;
	width: auto;
	display: block;
}

.navbar-brand {
	padding: 0px;
	font-size: 1.8em;
}

#topContainer {
	background-image: url(https://media.livenation.com/artists/78248/78248-show-95083.jpg?1401393338);
	height: 700px;
	width: 100%;
	background-size: cover;
}

#topRow {
	margin-top: 100px;
	text-align: center;
}

#topRow h1 {
	font-size: 300%;
	color: #da5228;
}

.lead {
	color: #da5228;
}

p{
	color: #da5228;
}

h2{
	color: #da5228;
	margin-left: 100px;
}
.bold{
	font-size: bold;
}

.marginTop{
	margin-top: 30px;
}

.center{
	text-align: center;
}

.title{
	margin-top: 100px;
	font-size: 300%;
}

#footer{
	background-color: #333333;
	width: 100%;
}

.marginBottom{
	margin-bottom: 30px;
}

