@media only screen and (min-width : 480px){
 
	
.navbar-left img {
	height: 100%;
	width: auto;
	display: block;
}

.navbar-brand {
	padding: 10px;
	font-size: 1.3em;
}

.navbar-collapse{
	padding: 15px;
	margin-left: 
}

#topContainer {
	background-image: url(https://media.livenation.com/artists/78248/78248-show-95083.jpg?1401393338);
	height: 600px;
	width: 100%;
	background-size: cover;
}

#topRow {
	margin-top: 100px;
	text-align: center;
}

#topRow h1 {
	font-size: 300%;
	color: #d05d39;
}

.lead {
	color: #d05d39;
}

p{
	color: #d05d39;
}

h2{
	color:#d05d39;
	margin-left: 100px;
}
.bold{
	font-size: bold;
}

.marginTop{
	margin-top: 30px;
}

.center{
	text-align: center;
}

.title{
	margin-top: 100px;
	font-size: 300%;
}

#footer{
	background-color: #333333;
	width: 100%;
	
}

.marginBottom{
	margin-bottom: 30px;
}
}

/* Small Devices, Tablets */
	@media only screen and (min-width : 768px){
 .navbar-left img {
	height: 100%;
	width: auto;
	display: block;
}

.navbar-brand {
	padding: 10px;
	font-size: 1.3em;
}

.navbar-collapse{
	padding: 15px;
	margin-left: 
}

#topContainer {
	background-image: url(https://media.livenation.com/artists/78248/78248-show-95083.jpg?1401393338);
	height: 600px;
	width: 100%;
	background-size: cover;
}

#topRow {
	margin-top: 100px;
	text-align: center;
}

#topRow h1 {
	font-size: 300%;
	color: #d05d39;
}

.lead {
	color: #d05d39;
}

p{
	color: #d05d39;
}

h2{
	color:#d05d39;
	margin-left: 100px;
}
.bold{
	font-size: bold;
}

.marginTop{
	margin-top: 30px;
}

.center{
	text-align: center;
}

.title{
	margin-top: 100px;
	font-size: 300%;
}

#footer{
	background-color: #333333;
	width: 100%;
	
}

.marginBottom{
	margin-bottom: 30px;
}
	}

/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px){
 .navbar-left img {
	height: 100%;
	width: auto;
	display: block;
}

.navbar-brand {
	padding: 10px;
	font-size: 1.3em;
}

.navbar-collapse{
	padding: 15px;
	margin-left: 
}

#topContainer {
	background-image: url(https://media.livenation.com/artists/78248/78248-show-95083.jpg?1401393338);
	height: 600px;
	width: 100%;
	background-size: cover;
}

#topRow {
	margin-top: 100px;
	text-align: center;
}

#topRow h1 {
	font-size: 300%;
	color: #d05d39;
}

.lead {
	color: #d05d39;
}

p{
	color: #d05d39;
}

h2{
	color:#d05d39;
	margin-left: 100px;
}
.bold{
	font-size: bold;
}

.marginTop{
	margin-top: 30px;
}

.center{
	text-align: center;
}

.title{
	margin-top: 100px;
	font-size: 300%;
}

#footer{
	background-color: #333333;
	width: 100%;
	
}

.marginBottom{
	margin-bottom: 30px;
}
	}

/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px){
 .navbar-left img {
	height: 100%;
	width: auto;
	display: block;
}

.navbar-brand {
	padding: 10px;
	font-size: 1.3em;
}

.navbar-collapse{
	padding: 15px;
	margin-left: 
}

#topContainer {
	background-image: url(https://media.livenation.com/artists/78248/78248-show-95083.jpg?1401393338);
	height: 600px;
	width: 100%;
	background-size: cover;
}

#topRow {
	margin-top: 100px;
	text-align: center;
}

#topRow h1 {
	font-size: 300%;
	color: #d05d39;
}

.lead {
	color: #d05d39;
}

p{
	color: #d05d39;
}

h2{
	color:#d05d39;
	margin-left: 100px;
}
.bold{
	font-size: bold;
}

.marginTop{
	margin-top: 30px;
}

.center{
	text-align: center;
}

.title{
	margin-top: 100px;
	font-size: 300%;
}

#footer{
	background-color: #333333;
	width: 100%;
	
}

.marginBottom{
	margin-bottom: 30px;
}
	}



/* Medium Devices, Desktops */
	@media only screen and (max-width : 992px){
 .navbar-left img {
	height: 100%;
	width: auto;
	display: block;
}

.navbar-brand {
	padding: 10px;
	font-size: 1.3em;
}

.navbar-collapse{
	padding: 15px;
	margin-left: 
}

#topContainer {
	background-image: url(https://media.livenation.com/artists/78248/78248-show-95083.jpg?1401393338);
	height: 600px;
	 max-width:100%;
	width: 100%;
	background-size: cover;
}

#topRow {
	margin-top: 100px;
	text-align: center;
}

#topRow h1 {
	font-size: 300%;
	color: #d05d39;
}

.lead {
	color: #d05d39;
}

p{
	color: #d05d39;
}

h2{
	color:#d05d39;
	margin-left: 100px;
}
.bold{
	font-size: bold;
}

.marginTop{
	margin-top: 30px;
}

.center{
	text-align: center;
}

.title{
	margin-top: 100px;
	font-size: 300%;
}

#footer{
	background-color: #333333;
	width: 100%;
	
}

.marginBottom{
	margin-bottom: 30px;
}
	}


.navbar-left img {
	height: 100%;
	width: auto;
	display: block;
}

.navbar-brand {
	padding: 10px;
	font-size: 1.3em;
}

.navbar-collapse{
	padding: 15px;
	margin-left: 
}

#topContainer {
	background-image: url(https://media.livenation.com/artists/78248/78248-show-95083.jpg?1401393338);
	height: 600px;
	width: 100%;
	background-size: cover;
}

#topRow {
	margin-top: 100px;
	text-align: center;
}

#topRow h1 {
	font-size: 300%;
	color: #d05d39;
}

.lead {
	color: #d05d39;
}

p{
	color: #d05d39;
}

h2{
	color:#d05d39;
	margin-left: 100px;
}
.bold{
	font-size: bold;
}

.marginTop{
	margin-top: 30px;
}

.center{
	text-align: center;
}

.title{
	margin-top: 100px;
	font-size: 300%;
}

#footer{
	background-color: #333333;
	width: 100%;
	
}

.marginBottom{
	margin-bottom: 30px;
}